# Virtual environment
venv/
myenv/
env/
*.venv
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
